.App__header {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #60a3bc;
  color: white;
  padding: 10px 20px;
}

.App__header__title {
  font-size: 32px;
  margin-bottom: 20px;
}

.App__header__links {
  display: flex;
  width: 75vw;
  justify-content: space-around;
}

.App__header__link {
  color: white;
}

.App__header__link__selected {
  font-weight: bold;
  text-decoration: none;
}

.App__body {
  padding: 50px;
}

.DateInput {
  width: 200px;
  box-sizing: border-box;
}

.DateInput_input {
  box-sizing: border-box;
}
